*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1360px;
    margin: auto;
}
header{
    background-color: white;
    padding-top: 16px;
}

.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.hero{
    background-image: url("../assets/hero-bg.png");
    padding-top: 53px;
    background-size: cover;
    height: 674px;
    margin-top: 16px;
}

.hero-section{
    justify-content: center;
    text-align: center;
    padding-top: 115px;
    
    
}

.early-access p{
    color: #469165;
    margin-bottom: 16px;
    
}
.hero-section h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: white;
    margin-bottom: 16px;
    
    

}
.Different-clr{
    color: #30B868;
}

.hero-content p{
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
    
}
.feature{
    padding-top: 50px;
    text-align:  center;
}
.feature h2{
    font-size: 48px;
    margin-bottom: 7px;
}
.feature p{
    font-size: 15px;
    color: #627382;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 44px;
}
.note-section{
    display: flex;
    gap: 24px;
}

.note-card{
    padding: 69.5px 24px 69.5px 24px;
    max-width: 322px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
    text-align: center;
    margin-bottom: 16px;
}
.icon-wrapper{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    margin: 0 auto 24px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon-wrapper img{
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.note-card p{
    font-size: 16px;
    color: #627382;
}
.brain-section{
    display: flex;
}
.brain-section .knowledge-icon img{
    margin-top: 120px;
    max-height: 600;
    max-width: 600;
    display:block;
    
}
.brain-content{
    max-width: 760px;
    margin-top: 222px;
    
}
.brain-content p{
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 700px;
}

.brain-content h2{
    font-size: 48px;
    margin-bottom: 16px;
}
.clr-different{
    font-size: 16px;
    color: #469165;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}

.icon-text{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
    
}

.early-section{
    padding: 80px 40px;
    margin-top: 120px;
    background: #F7F6F2;
    max-width: 1360px;
    text-align: center;
}

.early-section h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;

}
.early-section p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}
.early-section button{
    margin-bottom: 16px;
}

footer{
    background-color: #001931;
    padding: 120px 0px 30px 0px;
    margin-top: 120px;

}

.footer-container{
    display: flex;
    justify-content: space-between;

}

.social p{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 28px;
}

.social .icon{
  gap: 16px;
}
.footer-devider{
    margin-top: 80px;
    color: #E5E7EB;
}
.footer-bottom{
    text-align: center;
    font-size: 16px;
    color: #FAFAFA;
    margin-top: 30px;
}